In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_replace
from pyspark.sql.functions import regexp_extract, when, trim, col

# Initialisation de la session Spark

In [2]:
spark = SparkSession.builder \
    .appName("DataMergingWithHive") \
    .config("spark.hadoop.hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

# Utilisation de la base de données Hive, et charge les données des tables traitées

In [3]:
spark.sql("USE concessionnaire")

clients_df = spark.sql("SELECT * FROM client_processed")
immatriculations_df = spark.sql("SELECT * FROM immatriculations_processed")

# Fusionner les tables sur la colonne 'Immatriculation'

In [4]:
merged_df = clients_df.join(immatriculations_df, "Immatriculation", "inner")

In [5]:
merged_df.show(n=10, truncate=False)

+---------------+---+-----+----+-------------------+---------------+---------------+--------+---------+-----------+--------+--------+-------+--------+-------+------+
|immatriculation|age|sexe |taux|situationfamilliale|nbenfantacharge|deuxiemevoiture|marque  |puissance|longueur   |nbplaces|nbportes|couleur|occasion|prix   |modele|
+---------------+---+-----+----+-------------------+---------------+---------------+--------+---------+-----------+--------+--------+-------+--------+-------+------+
|0 UI 76        |61 |Homme|419 |En Couple          |4              |true           |Mercedes|306      |très longue|5       |5       |rouge  |true    |70910.0|S500  |
|10 IM 37       |20 |Homme|1245|En Couple          |2              |false          |Jaguar  |197      |longue     |5       |5       |bleu   |false   |37100.0|X-Type|
|10 LB 49       |21 |Homme|502 |En Couple          |2              |false          |Volvo   |272      |très longue|5       |5       |rouge  |false   |50500.0|S80   |
|10 MF 39       |22 |Homme|1072|Célibataire        |0              |false          |Audi    |75       |courte     |5       |5       |noir   |false   |18310.0|A2    |
|10 VE 79       |41 |Homme|507 |En Couple          |1              |false          |Ford    |125      |longue     |5       |5       |bleu   |false   |23900.0|Mondeo|
|100 JQ 82      |50 |Homme|1213|En Couple          |1              |false          |BMW     |507      |très longue|5       |5       |noir   |false   |94800.0|M5    |
|100 MW 36      |36 |Homme|467 |En Couple          |3              |false          |Renault |245      |très longue|5       |5       |blanc  |false   |49200.0|Vel   |
|1000 HF 96     |32 |Homme|245 |En Couple          |0              |false          |Ford    |125      |longue     |5       |5       |blanc  |true    |16730.0|Mondeo|
|1001 NX 52     |26 |Homme|459 |Célibataire        |1              |false          |Volvo   |272      |très longue|5       |5       |blanc  |false   |50500.0|S80   |
|1001 OW 93     |30 |Homme|451 |En Couple          |0              |true           |Peugeot |75       |courte     |5       |5       |noir   |false   |13750.0|1007  |
+---------------+---+-----+----+-------------------+---------------+---------------+--------+---------+-----------+--------+--------+-------+--------+-------+------+
only showing top 10 rows

# Enregistrer le DataFrame fusionné sous forme de table Hive

In [6]:
merged_df.createOrReplaceTempView("merged_view")
spark.sql("DROP TABLE IF EXISTS client_immatriculation_merged")
spark.sql("CREATE TABLE client_immatriculation_merged AS SELECT * FROM merged_view")

DataFrame[]