In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, isnull
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.clustering import KMeans
from pyspark.sql.functions import when

# Utilisation de la base de données Hive, et charge les données de la table

In [2]:
spark = SparkSession.builder \
    .appName("Categorie") \
    .config("spark.hadoop.hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
spark.sql("USE concessionnaire")
client_immat_df = spark.sql("SELECT * FROM client_immatriculation_categorie")

# Afficher un aperçu des données

In [4]:
client_immat_df.show(20, truncate=False)

+---------------+---+-----+----+-------------------+---------------+---------------+----------+---------+-----------+--------+--------+-------+--------+--------+-------+---------+
|immatriculation|age|sexe |taux|situationfamilliale|nbenfantacharge|deuxiemevoiture|marque    |puissance|longueur   |nbplaces|nbportes|couleur|occasion|prix    |modele |categorie|
+---------------+---+-----+----+-------------------+---------------+---------------+----------+---------+-----------+--------+--------+-------+--------+--------+-------+---------+
|0 NQ 98        |50 |Femme|243 |En Couple          |0              |true           |Volkswagen|55       |courte     |5       |3       |blanc  |true    |8540.0  |Polo   |citadine |
|0 PW 98        |58 |Homme|502 |Célibataire        |0              |false          |Peugeot   |75       |courte     |5       |5       |noir   |false   |13750.0 |1007   |citadine |
|1 AK 80        |35 |Homme|1127|Célibataire        |0              |false          |Audi      |75       |courte     |5       |5       |noir   |false   |18310.0 |A2     |citadine |
|1000 KN 59     |24 |Homme|1332|Célibataire        |0              |false          |Audi      |75       |courte     |5       |5       |bleu   |false   |18310.0 |A2     |citadine |
|1001 CT 14     |68 |Homme|529 |En Couple          |2              |false          |Saab      |150      |longue     |5       |5       |gris   |true    |27020.0 |9.3    |familiale|
|1001 CV 83     |53 |Homme|569 |En Couple          |3              |false          |Renault   |245      |très longue|5       |5       |gris   |false   |49200.0 |Vel    |sportive |
|1001 WZ 27     |32 |Homme|509 |En Couple          |0              |false          |Jaguar    |197      |longue     |5       |5       |bleu   |true    |25970.0 |X-Type |familiale|
|1002 ZR 59     |32 |Homme|1184|Célibataire        |0              |false          |Audi      |75       |courte     |5       |5       |noir   |false   |18310.0 |A2     |citadine |
|1003 UB 97     |25 |Homme|1098|En Couple          |3              |false          |BMW       |507      |très longue|5       |5       |gris   |false   |94800.0 |M5     |sportive |
|1004 UV 66     |19 |Homme|203 |En Couple          |4              |false          |Skoda     |193      |très longue|5       |5       |rouge  |false   |31790.0 |Superb |autre    |
|1005 GD 55     |79 |Homme|1065|En Couple          |3              |false          |Mercedes  |306      |très longue|5       |5       |rouge  |false   |101300.0|S500   |sportive |
|1005 GR 95     |28 |Homme|523 |En Couple          |1              |false          |Jaguar    |197      |longue     |5       |5       |noir   |true    |25970.0 |X-Type |familiale|
|1005 NT 69     |25 |Homme|1039|Célibataire        |0              |false          |Audi      |75       |courte     |5       |5       |bleu   |false   |18310.0 |A2     |citadine |
|1005 SV 78     |55 |Homme|576 |En Couple          |3              |false          |Renault   |245      |très longue|5       |5       |noir   |false   |49200.0 |Vel    |sportive |
|1006 BG 75     |20 |Homme|486 |En Couple          |0              |true           |Volkswagen|55       |courte     |5       |3       |rouge  |false   |12200.0 |Polo   |citadine |
|1006 TF 31     |22 |Femme|486 |En Couple          |0              |false          |Renault   |170      |longue     |5       |5       |noir   |false   |27300.0 |Laguna |familiale|
|1008 YE 32     |45 |Femme|539 |En Couple          |3              |false          |BMW       |507      |très longue|5       |5       |rouge  |true    |66360.0 |M5     |sportive |
|101 JW 35      |26 |Femme|234 |Célibataire        |0              |false          |Lancia    |90       |courte     |5       |3       |rouge  |true    |9450.0  |Ypsilon|citadine |
|101 RZ 17      |32 |Homme|228 |En Couple          |4              |false          |Skoda     |193      |très longue|5       |5       |blanc  |false   |31790.0 |Superb |autre    |
|1011 UA 39     |22 |Homme|151 |Célibataire        |0              |false          |Volkswagen|150      |moyenne    |5       |5       |rouge  |true    |16029.0 |Golf   |familiale|
+---------------+---+-----+----+-------------------+---------------+---------------+----------+---------+-----------+--------+--------+-------+--------+--------+-------+---------+
only showing top 20 rows

In [5]:
client_immat_df.describe().show()

+-------+---------------+------------------+-----+-----------------+-------------------+------------------+---------------+------+------------------+-----------+--------+-------------------+-------+------------------+-----------------+---------+
|summary|immatriculation|               age| sexe|             taux|situationfamilliale|   nbenfantacharge|deuxiemevoiture|marque|         puissance|   longueur|nbplaces|           nbportes|couleur|              prix|           modele|categorie|
+-------+---------------+------------------+-----+-----------------+-------------------+------------------+---------------+------+------------------+-----------+--------+-------------------+-------+------------------+-----------------+---------+
|  count|          98816|             98816|98816|            98816|              98816|             98816|          98816| 98816|             98816|      98816|   98816|              98816|  98816|             98816|            98816|    98816|
|   mean|           NULL|43.717555861398964| NULL|609.6563005990932|               NULL| 1.255586139896373|           NULL|  NULL|199.72490284974094|       NULL|     5.0|  4.867653011658031|   NULL|35901.402070514894|538.6918367346932|     NULL|
| stddev|           NULL|18.240659014690376| NULL|335.0424157786088|               NULL|1.3908677669999154|           NULL|  NULL|137.91335609356412|       NULL|     0.0|0.49717275949627543|   NULL| 25868.49447286118| 497.942396840988|     NULL|
|    min|        0 AX 62|                18|Femme|              150|        Célibataire|                 0|          false|  Audi|                55|     courte|       5|                  3|  blanc|            7500.0|             1007|    autre|
|    max|     9999 ZU 23|                84|Homme|             1399|           Marié(e)|                 4|           true| Volvo|               507|très longue|       5|                  5|  rouge|          101300.0|          Ypsilon| sportive|
+-------+---------------+------------------+-----+-----------------+-------------------+------------------+---------------+------+------------------+-----------+--------+-------------------+-------+------------------+-----------------+---------+

In [6]:

# Vérification des valeurs manquantes
missing_counts = client_immat_df.select([isnull(col(c)).alias(c) for c in client_immat_df.columns]).groupby().sum().show()

++
||
++
||
++

# Préparation des données

In [7]:
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml import Pipeline

# Sélection des colonnes nécessaires
df_reduit = client_immat_df.select("age", "sexe", "taux", "situationfamilliale", "nbenfantacharge", "deuxiemevoiture", "categorie")

# Encodage des colonnes catégoriques
indexers = [
    StringIndexer(inputCol="sexe", outputCol="sexe_index"),
    StringIndexer(inputCol="situationfamilliale", outputCol="situation_index"),
    StringIndexer(inputCol="deuxiemevoiture", outputCol="deuxiemevoiture_num"),
    StringIndexer(inputCol="categorie", outputCol="categorie_index")
    # nbenfantacharge
]

# Nomaliser ou rendre categorielle age et taux

In [8]:

pipeline = Pipeline(stages=indexers)
df_indexed = pipeline.fit(df_reduit).transform(df_reduit)

# Création de la colonne `features`
assembler = VectorAssembler(
    inputCols=["age", "sexe_index", "taux", "situation_index", "nbenfantacharge", "deuxiemevoiture_num"],
    outputCol="features"
)

df_final = assembler.transform(df_indexed)
df_final.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sexe: string (nullable = true)
 |-- taux: integer (nullable = true)
 |-- situationfamilliale: string (nullable = true)
 |-- nbenfantacharge: integer (nullable = true)
 |-- deuxiemevoiture: string (nullable = true)
 |-- categorie: string (nullable = true)
 |-- sexe_index: double (nullable = false)
 |-- situation_index: double (nullable = false)
 |-- deuxiemevoiture_num: double (nullable = false)
 |-- categorie_index: double (nullable = false)
 |-- features: vector (nullable = true)

In [9]:
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Division des données
train_data, test_data = df_final.randomSplit([0.8, 0.2], seed=42)

In [10]:

# Création du modèle Random Forest
rf = RandomForestClassifier(
    labelCol="categorie_index",  # La cible encodée
    featuresCol="features",  # Les vecteurs
    numTrees=20,  # Nombre d'arbres
    maxDepth=5,  # Profondeur maximale
    seed=42
)

In [11]:
# Entraînement
rf_model = rf.fit(train_data)

In [12]:
# Prédiction sur l'ensemble de test
predictions = rf_model.transform(test_data)

In [ ]:
# Évaluation
evaluator = MulticlassClassificationEvaluator(
    labelCol="categorie_index", 
    predictionCol="prediction", 
    metricName="accuracy"
)
accuracy = evaluator.evaluate(predictions)
print(f"Test Accuracy: {accuracy}")

Test Accuracy: 0.7228330350294042