In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.clustering import KMeans
from pyspark.sql.functions import when

# Utilisation de la base de données Hive, et charge les données de la table

In [2]:
spark = SparkSession.builder \
    .appName("Categorie") \
    .config("spark.hadoop.hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
spark.sql("USE concessionnaire")
client_immat_df = spark.sql("SELECT * FROM client_immatriculation_merged")

In [4]:
client_immat_df.show(10, truncate=False)

+---------------+---+-----+----+-------------------+---------------+---------------+--------+---------+-----------+--------+--------+-------+--------+-------+------+
|immatriculation|age|sexe |taux|situationfamilliale|nbenfantacharge|deuxiemevoiture|marque  |puissance|longueur   |nbplaces|nbportes|couleur|occasion|prix   |modele|
+---------------+---+-----+----+-------------------+---------------+---------------+--------+---------+-----------+--------+--------+-------+--------+-------+------+
|0 UI 76        |61 |Homme|419 |En Couple          |4              |true           |Mercedes|306      |très longue|5       |5       |rouge  |true    |70910.0|S500  |
|10 IM 37       |20 |Homme|1245|En Couple          |2              |false          |Jaguar  |197      |longue     |5       |5       |bleu   |false   |37100.0|X-Type|
|10 LB 49       |21 |Homme|502 |En Couple          |2              |false          |Volvo   |272      |très longue|5       |5       |rouge  |false   |50500.0|S80   |
|10 MF 39       |22 |Homme|1072|Célibataire        |0              |false          |Audi    |75       |courte     |5       |5       |noir   |false   |18310.0|A2    |
|10 VE 79       |41 |Homme|507 |En Couple          |1              |false          |Ford    |125      |longue     |5       |5       |bleu   |false   |23900.0|Mondeo|
|100 JQ 82      |50 |Homme|1213|En Couple          |1              |false          |BMW     |507      |très longue|5       |5       |noir   |false   |94800.0|M5    |
|100 MW 36      |36 |Homme|467 |En Couple          |3              |false          |Renault |245      |très longue|5       |5       |blanc  |false   |49200.0|Vel   |
|1000 HF 96     |32 |Homme|245 |En Couple          |0              |false          |Ford    |125      |longue     |5       |5       |blanc  |true    |16730.0|Mondeo|
|1001 NX 52     |26 |Homme|459 |Célibataire        |1              |false          |Volvo   |272      |très longue|5       |5       |blanc  |false   |50500.0|S80   |
|1001 OW 93     |30 |Homme|451 |En Couple          |0              |true           |Peugeot |75       |courte     |5       |5       |noir   |false   |13750.0|1007  |
+---------------+---+-----+----+-------------------+---------------+---------------+--------+---------+-----------+--------+--------+-------+--------+-------+------+
only showing top 10 rows

# Définis les catégories.

In [5]:

client_immat_df = client_immat_df.withColumn(
    "categorie",
    when((col("puissance") <= 100) & (col("longueur") == "courte"), "citadine")
    .when((col("puissance") > 100) & (col("puissance") <= 200) & (col("longueur") == "courte") & (col("prix") < 30000), "citadine premium")
    .when((col("puissance") > 100) & (col("puissance") <= 200) & (col("longueur").isin("moyenne", "longue")), "familiale")
    .when((col("puissance") > 200) & (col("prix") > 30000), "sportive")
    .when((col("nbplaces") >= 7), "monospace")
    .when((col("prix") > 50000) & col("marque").isin("BMW", "Mercedes", "Jaguar", "Audi", "Porsche"), "luxe")
    .otherwise("autre")
)

# Affiche le resultat

In [6]:
client_immat_df.select("marque","modele","categorie","prix","longueur","puissance").show(30, truncate=False)

+--------+-------+----------------+-------+-----------+---------+
|marque  |modele |categorie       |prix   |longueur   |puissance|
+--------+-------+----------------+-------+-----------+---------+
|Mercedes|S500   |sportive        |70910.0|très longue|306      |
|Jaguar  |X-Type |familiale       |37100.0|longue     |197      |
|Volvo   |S80    |sportive        |50500.0|très longue|272      |
|Audi    |A2     |citadine        |18310.0|courte     |75       |
|Ford    |Mondeo |familiale       |23900.0|longue     |125      |
|BMW     |M5     |sportive        |94800.0|très longue|507      |
|Renault |Vel    |sportive        |49200.0|très longue|245      |
|Ford    |Mondeo |familiale       |16730.0|longue     |125      |
|Volvo   |S80    |sportive        |50500.0|très longue|272      |
|Peugeot |1007   |citadine        |13750.0|courte     |75       |
|Audi    |A2     |citadine        |18310.0|courte     |75       |
|Audi    |A2     |citadine        |12817.0|courte     |75       |
|Audi    |A2     |citadine        |18310.0|courte     |75       |
|Audi    |A2     |citadine        |18310.0|courte     |75       |
|BMW     |120i   |familiale       |25060.0|moyenne    |150      |
|Volvo   |S80    |sportive        |50500.0|très longue|272      |
|Jaguar  |X-Type |familiale       |25970.0|longue     |197      |
|BMW     |M5     |sportive        |66360.0|très longue|507      |
|Renault |Vel    |sportive        |49200.0|très longue|245      |
|Fiat    |Croma  |familiale       |24780.0|longue     |147      |
|Renault |Laguna |familiale       |27300.0|longue     |170      |
|Jaguar  |X-Type |familiale       |25970.0|longue     |197      |
|Mini    |Copper |citadine premium|18200.0|courte     |115      |
|Volvo   |S80    |sportive        |50500.0|très longue|272      |
|Lancia  |Ypsilon|citadine        |9450.0 |courte     |90       |
|Saab    |9.3    |familiale       |27020.0|longue     |150      |
|BMW     |M5     |sportive        |94800.0|très longue|507      |
|Audi    |A2     |citadine        |18310.0|courte     |75       |
|Renault |Vel    |sportive        |49200.0|très longue|245      |
|Fiat    |Croma  |familiale       |17346.0|longue     |147      |
+--------+-------+----------------+-------+-----------+---------+
only showing top 30 rows

# Enregistre en base de données

In [7]:
client_immat_df.write.mode("overwrite").saveAsTable("client_immatriculation_categorie")