In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, isnull, expr
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.clustering import KMeans
from pyspark.sql.functions import when
from pyspark.ml.stat import Correlation
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.sql import functions as F

# Utilisation de la base de données Hive, et charge les données de la table

In [2]:
spark = SparkSession.builder \
    .appName("Categorie") \
    .config("spark.hadoop.hive.metastore.uris", "thrift://hive-metastore:9083") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
spark.sql("USE concessionnaire")
client_immat_df = spark.sql("SELECT * FROM client_immatriculation_categorie")

# Afficher un aperçu des données

In [4]:
client_immat_df.show(20, truncate=False)

+---------------+---+-----+----+-------------------+---------------+---------------+-------+---------+--------+--------+--------+-------+--------+-------+------+-----------------------+-------------------------------------------------------------------+--------+
|immatriculation|age|sexe |taux|situationfamilliale|nbenfantacharge|deuxiemevoiture|marque |puissance|longueur|nbplaces|nbportes|couleur|occasion|prix   |modele|features               |scaled_features                                                    |category|
+---------------+---+-----+----+-------------------+---------------+---------------+-------+---------+--------+--------+--------+-------+--------+-------+------+-----------------------+-------------------------------------------------------------------+--------+
|0 OG 13        |56 |Homme|528 |Célibataire        |0              |false          |Audi   |75.0     |0.0     |5       |5.0     |blanc  |true    |12817.0|A2    |[75.0,0.0,5.0,12817.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.8909397631722812]  |2       |
|0 OZ 65        |32 |Homme|563 |En Couple          |2              |false          |Ford   |125.0    |0.0     |5       |5.0     |blanc  |false   |23900.0|Mondeo|[125.0,0.0,5.0,23900.0]|[-0.5398364463906763,0.0,0.26540117403260644,-0.46096688851177403] |6       |
|1 PD 24        |28 |Homme|230 |En Couple          |2              |false          |Renault|245.0    |0.0     |5       |5.0     |blanc  |true    |34440.0|Vel   |[245.0,0.0,5.0,34440.0]|[0.3351169670906597,0.0,0.26540117403260644,-0.0520600853969364]   |3       |
|10 EW 37       |33 |Femme|954 |En Couple          |1              |false          |Jaguar |197.0    |0.0     |5       |5.0     |gris   |false   |37100.0|X-Type|[197.0,0.0,5.0,37100.0]|[-0.014864398301874731,0.0,0.26540117403260644,0.05113650817853496]|7       |
|10 IM 37       |20 |Homme|1245|En Couple          |2              |false          |Jaguar |197.0    |0.0     |5       |5.0     |bleu   |false   |37100.0|X-Type|[197.0,0.0,5.0,37100.0]|[-0.014864398301874731,0.0,0.26540117403260644,0.05113650817853496]|7       |
|10 LB 49       |21 |Homme|502 |En Couple          |2              |false          |Volvo  |272.0    |0.0     |5       |5.0     |rouge  |false   |50500.0|S80   |[272.0,0.0,5.0,50500.0]|[0.5319814851239603,0.0,0.26540117403260644,0.5709990472429396]    |4       |
|10 MF 39       |22 |Homme|1072|Célibataire        |0              |false          |Audi   |75.0     |0.0     |5       |5.0     |noir   |false   |18310.0|A2    |[75.0,0.0,5.0,18310.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.6778349178677457]  |2       |
|10 PB 84       |29 |Femme|1083|Célibataire        |0              |false          |Mini   |115.0    |0.0     |5       |5.0     |noir   |false   |18200.0|Copper|[115.0,0.0,5.0,18200.0]|[-0.6127492308474544,0.0,0.26540117403260644,-0.6821024461734984]  |2       |
|10 VE 79       |41 |Homme|507 |En Couple          |1              |false          |Ford   |125.0    |0.0     |5       |5.0     |bleu   |false   |23900.0|Mondeo|[125.0,0.0,5.0,23900.0]|[-0.5398364463906763,0.0,0.26540117403260644,-0.46096688851177403] |6       |
|100 JQ 82      |50 |Homme|1213|En Couple          |1              |false          |BMW    |507.0    |0.0     |5       |5.0     |noir   |false   |94800.0|M5    |[507.0,0.0,5.0,94800.0]|[2.2454319198582433,0.0,0.26540117403260644,2.289649083105113]     |5       |
|100 MW 36      |36 |Homme|467 |En Couple          |3              |false          |Renault|245.0    |0.0     |5       |5.0     |blanc  |false   |49200.0|Vel   |[245.0,0.0,5.0,49200.0]|[0.3351169670906597,0.0,0.26540117403260644,0.5205646218113182]    |4       |
|100 RJ 95      |40 |Femme|555 |En Couple          |1              |true           |Peugeot|75.0     |0.0     |5       |5.0     |rouge  |false   |13750.0|1007  |[75.0,0.0,5.0,13750.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.8547433639971252]  |2       |
|1000 CT 36     |46 |Homme|837 |Célibataire        |0              |false          |Audi   |75.0     |0.0     |5       |5.0     |noir   |false   |18310.0|A2    |[75.0,0.0,5.0,18310.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.6778349178677457]  |2       |
|1001 NX 52     |26 |Homme|459 |Célibataire        |1              |false          |Volvo  |272.0    |0.0     |5       |5.0     |blanc  |false   |50500.0|S80   |[272.0,0.0,5.0,50500.0]|[0.5319814851239603,0.0,0.26540117403260644,0.5709990472429396]    |4       |
|1001 OW 93     |30 |Homme|451 |En Couple          |0              |true           |Peugeot|75.0     |0.0     |5       |5.0     |noir   |false   |13750.0|1007  |[75.0,0.0,5.0,13750.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.8547433639971252]  |2       |
|1001 QQ 92     |38 |Homme|774 |Célibataire        |0              |false          |Audi   |75.0     |0.0     |5       |5.0     |gris   |false   |18310.0|A2    |[75.0,0.0,5.0,18310.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.6778349178677457]  |2       |
|1001 YO 23     |59 |Homme|525 |Célibataire        |0              |false          |Audi   |75.0     |0.0     |5       |5.0     |blanc  |true    |12817.0|A2    |[75.0,0.0,5.0,12817.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.8909397631722812]  |2       |
|1002 BJ 74     |56 |Homme|548 |En Couple          |0              |false          |BMW    |507.0    |0.0     |5       |5.0     |gris   |true    |66360.0|M5    |[507.0,0.0,5.0,66360.0]|[2.2454319198582433,0.0,0.26540117403260644,1.18629903750872]      |5       |
|1002 ZW 16     |47 |Homme|527 |Célibataire        |0              |false          |BMW    |150.0    |0.0     |5       |5.0     |gris   |true    |25060.0|120i  |[150.0,0.0,5.0,25060.0]|[-0.35755448524873135,0.0,0.26540117403260644,-0.41596386274201963]|6       |
|1003 FK 31     |45 |Femme|570 |Célibataire        |0              |false          |Audi   |75.0     |0.0     |5       |5.0     |rouge  |true    |12817.0|A2    |[75.0,0.0,5.0,12817.0] |[-0.9044003686745664,0.0,0.26540117403260644,-0.8909397631722812]  |2       |
+---------------+---+-----+----+-------------------+---------------+---------------+-------+---------+--------+--------+--------+-------+--------+-------+------+-----------------------+-------------------------------------------------------------------+--------+
only showing top 20 rows

In [5]:
client_immat_df.describe().show()

+-------+---------------+------------------+-----+-----------------+-------------------+------------------+---------------+------+------------------+--------+--------+-------------------+-------+-----------------+-----------------+------------------+
|summary|immatriculation|               age| sexe|             taux|situationfamilliale|   nbenfantacharge|deuxiemevoiture|marque|         puissance|longueur|nbplaces|           nbportes|couleur|             prix|           modele|          category|
+-------+---------------+------------------+-----+-----------------+-------------------+------------------+---------------+------+------------------+--------+--------+-------------------+-------+-----------------+-----------------+------------------+
|  count|          98834|             98834|98834|            98834|              98834|             98834|          98834| 98834|             98834|   98834|   98834|              98834|  98834|            98834|            98834|             98834|
|   mean|           NULL|  43.7169192787907| NULL|609.6571523969484|               NULL|1.2556407713944593|           NULL|  NULL|199.72084505332174|     0.0|     5.0|  4.867596171358034|   NULL|35901.53065746606|538.6918367347045|3.9901855636724206|
| stddev|           NULL|18.240360027721778| NULL|335.0481123944806|               NULL|1.3909013848761047|           NULL|  NULL|137.91368244727633|     0.0|     0.0|0.49727194311731154|   NULL|25870.05678683081| 497.942396840988|1.9534837269513157|
|    min|        0 AX 62|                18|Femme|              150|        Célibataire|                 0|          false|  Audi|              55.0|     0.0|       5|                3.0|  blanc|           7500.0|             1007|                 0|
|    max|     9999 ZU 23|                84|Homme|             1399|           Marié(e)|                 4|           true| Volvo|             507.0|     0.0|       5|                5.0|  rouge|         101300.0|          Ypsilon|                 7|
+-------+---------------+------------------+-----+-----------------+-------------------+------------------+---------------+------+------------------+--------+--------+-------------------+-------+-----------------+-----------------+------------------+

In [6]:
missing_counts = client_immat_df.select([isnull(col(c)).alias(c) for c in client_immat_df.columns]).groupby().sum().show()

++
||
++
||
++

# Préparation des données

In [7]:
df_reduit = client_immat_df.select("age", "sexe", "taux", "situationfamilliale", "nbenfantacharge", "deuxiemevoiture", "category")


# Encodage des colonnes catégoriques
indexers = [
    StringIndexer(inputCol="sexe", outputCol="sexe_index"),
    StringIndexer(inputCol="situationfamilliale", outputCol="situation_index"),
    StringIndexer(inputCol="deuxiemevoiture", outputCol="deuxiemevoiture_num"),
    StringIndexer(inputCol="category", outputCol="categorie_index")
]

pipeline = Pipeline(stages=indexers)
df_indexed = pipeline.fit(df_reduit).transform(df_reduit)

In [8]:
# Identification et Traitement des Valeurs Aberrantes
variables_a_analyser = ["age", "taux", "nbenfantacharge"]  # Variables continues pertinentes

for variable in variables_a_analyser:
    # Calculer Q1, Q3 et IQR pour chaque variable
    quantiles = df_indexed.approxQuantile(variable, [0.25, 0.75], 0.0)
    q1, q3 = quantiles[0], quantiles[1]
    iqr = q3 - q1

    # Définir les limites des valeurs aberrantes
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Filtrer les valeurs aberrantes
    df_indexed = df_indexed.filter((F.col(variable) >= lower_bound) & (F.col(variable) <= upper_bound))

# Afficher un aperçu des données après nettoyage
df_indexed.show(5)
df_indexed.describe().show()

+---+-----+----+-------------------+---------------+---------------+--------+----------+---------------+-------------------+---------------+
|age| sexe|taux|situationfamilliale|nbenfantacharge|deuxiemevoiture|category|sexe_index|situation_index|deuxiemevoiture_num|categorie_index|
+---+-----+----+-------------------+---------------+---------------+--------+----------+---------------+-------------------+---------------+
| 56|Homme| 528|        Célibataire|              0|          false|       2|       0.0|            1.0|                0.0|            0.0|
| 32|Homme| 563|          En Couple|              2|          false|       6|       0.0|            0.0|                0.0|            1.0|
| 28|Homme| 230|          En Couple|              2|          false|       3|       0.0|            0.0|                0.0|            4.0|
| 33|Femme| 954|          En Couple|              1|          false|       7|       1.0|            0.0|                0.0|            5.0|
| 20|Homme|1245|          En Couple|              2|          false|       7|       0.0|            0.0|                0.0|            5.0|
+---+-----+----+-------------------+---------------+---------------+--------+----------+---------------+-------------------+---------------+
only showing top 5 rows

+-------+------------------+-----+-----------------+-------------------+------------------+---------------+------------------+-------------------+------------------+-------------------+------------------+
|summary|               age| sexe|             taux|situationfamilliale|   nbenfantacharge|deuxiemevoiture|          category|         sexe_index|   situation_index|deuxiemevoiture_num|   categorie_index|
+-------+------------------+-----+-----------------+-------------------+------------------+---------------+------------------+-------------------+------------------+-------------------+------------------+
|  count|             98834|98834|            98834|              98834|             98834|          98834|             98834|              98834|             98834|              98834|             98834|
|   mean|  43.7169192787907| NULL|609.6571523969484|               NULL|1.2556407713944593|           NULL|3.9901855636724206| 0.2985713418459235| 0.373818726349232|0.13104801991217596|2.1883359977335735|
| stddev|18.240360027721778| NULL|335.0481123944806|               NULL|1.3909013848761047|           NULL|1.9534837269513157|0.45763371233756334|0.5207238157449371| 0.3374545726163746|1.9947121666110772|
|    min|                18|Femme|              150|        Célibataire|                 0|          false|                 0|                0.0|               0.0|                0.0|               0.0|
|    max|                84|Homme|             1399|           Marié(e)|                 4|           true|                 7|                1.0|               4.0|                1.0|               7.0|
+-------+------------------+-----+-----------------+-------------------+------------------+---------------+------------------+-------------------+------------------+-------------------+------------------+

In [9]:
# Création de la colonne `features`
assembler = VectorAssembler(
    inputCols=["age", "sexe_index", "taux", "situation_index", "nbenfantacharge", "deuxiemevoiture_num"],
    outputCol="features"
)

df_final = assembler.transform(df_indexed)
df_final.printSchema()

root
 |-- age: integer (nullable = true)
 |-- sexe: string (nullable = true)
 |-- taux: integer (nullable = true)
 |-- situationfamilliale: string (nullable = true)
 |-- nbenfantacharge: integer (nullable = true)
 |-- deuxiemevoiture: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- sexe_index: double (nullable = false)
 |-- situation_index: double (nullable = false)
 |-- deuxiemevoiture_num: double (nullable = false)
 |-- categorie_index: double (nullable = false)
 |-- features: vector (nullable = true)

In [10]:
df_final.describe().show()

+-------+------------------+-----+-----------------+-------------------+------------------+---------------+------------------+-------------------+------------------+-------------------+------------------+
|summary|               age| sexe|             taux|situationfamilliale|   nbenfantacharge|deuxiemevoiture|          category|         sexe_index|   situation_index|deuxiemevoiture_num|   categorie_index|
+-------+------------------+-----+-----------------+-------------------+------------------+---------------+------------------+-------------------+------------------+-------------------+------------------+
|  count|             98834|98834|            98834|              98834|             98834|          98834|             98834|              98834|             98834|              98834|             98834|
|   mean|  43.7169192787907| NULL|609.6571523969484|               NULL|1.2556407713944593|           NULL|3.9901855636724206| 0.2985713418459235| 0.373818726349232|0.13104801991217596|2.1883359977335735|
| stddev|18.240360027721778| NULL|335.0481123944806|               NULL|1.3909013848761047|           NULL|1.9534837269513157|0.45763371233756334|0.5207238157449371| 0.3374545726163746|1.9947121666110772|
|    min|                18|Femme|              150|        Célibataire|                 0|          false|                 0|                0.0|               0.0|                0.0|               0.0|
|    max|                84|Homme|             1399|           Marié(e)|                 4|           true|                 7|                1.0|               4.0|                1.0|               7.0|
+-------+------------------+-----+-----------------+-------------------+------------------+---------------+------------------+-------------------+------------------+-------------------+------------------+

In [11]:
scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withStd=True, withMean=False)
scaler_model = scaler.fit(df_final)
df_final_scaled = scaler_model.transform(df_final)

# Utiliser `scaled_features` pour l'entraînement au lieu de `features`
train_data, test_data = df_final_scaled.randomSplit([0.8, 0.2], seed=42)

In [12]:
# Initialiser le modèle de Random Forest
rf = RandomForestClassifier(
    labelCol="categorie_index",  # La cible encodée
    featuresCol="features",      # Les vecteurs de caractéristiques
    numTrees=40,                 # Nombre d'arbres
    maxDepth=4,                  # Profondeur maximale
    seed=42
)

# Entraîner le modèle
rf_model = rf.fit(train_data)

# Identification et Traitement des Valeurs Aberrantes

In [13]:
# Prédiction sur l'ensemble de test
predictions = rf_model.transform(test_data)

In [14]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Évaluer la précision (accuracy) du modèle
evaluator = MulticlassClassificationEvaluator(
    labelCol="categorie_index",
    predictionCol="prediction",
    metricName="accuracy"
)

accuracy = evaluator.evaluate(predictions)
print(f"Test Accuracy: {accuracy}")

Test Accuracy: 0.6229508196721312

In [15]:
f1_evaluator = MulticlassClassificationEvaluator(
    labelCol="categorie_index",
    predictionCol="prediction",
    metricName="f1"
)

f1_score = f1_evaluator.evaluate(predictions)
print(f"Test F1 Score: {f1_score}")

Test F1 Score: 0.5981321631538411

In [16]:
predictions.select("age", "sexe_index", "taux", "situation_index", "nbenfantacharge", "deuxiemevoiture_num", "categorie_index", "prediction").show(10)

+---+----------+----+---------------+---------------+-------------------+---------------+----------+
|age|sexe_index|taux|situation_index|nbenfantacharge|deuxiemevoiture_num|categorie_index|prediction|
+---+----------+----+---------------+---------------+-------------------+---------------+----------+
| 18|       1.0| 159|            1.0|              0|                0.0|            0.0|       1.0|
| 18|       1.0| 172|            0.0|              3|                0.0|            4.0|       4.0|
| 18|       1.0| 183|            1.0|              0|                0.0|            0.0|       1.0|
| 18|       1.0| 195|            0.0|              4|                1.0|            4.0|       4.0|
| 18|       1.0| 220|            0.0|              4|                1.0|            4.0|       4.0|
| 18|       1.0| 229|            0.0|              4|                1.0|            4.0|       4.0|
| 18|       1.0| 400|            0.0|              2|                1.0|            6.0|       0.0|
| 18|       1.0| 410|            0.0|              0|                0.0|            4.0|       1.0|
| 18|       1.0| 440|            0.0|              0|                0.0|            3.0|       1.0|
| 18|       1.0| 445|            1.0|              0|                0.0|            1.0|       1.0|
+---+----------+----+---------------+---------------+-------------------+---------------+----------+
only showing top 10 rows